/vsSolutionBuildEvent/obj
/vsSolutionBuildEvent/bin
*.csproj.user
*.suo
/vsSolutionBuildEvent/Version.cs
/Version/bin
/Version/obj
/vsSolutionBuildEventTest/bin
/vsSolutionBuildEventTest/obj
/TestResults
/packages
/Bridge/obj
/Bridge/bin
/Devenv/bin
/Devenv/obj
/CI.MSBuild/bin
/CI.MSBuild/obj
/Provider/bin
/Provider/obj
